.app-st-active a {
  color: white;
}

nav ul li {
  width: 80px;
  text-align: center;
  border: 2px solid green;
  border-radius: 10px;
  margin: 5px;
}

nav a {
  color: green;
}

nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  height: 100%;
  padding: 15px 0;
}
