.app-add-btn {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid blue;
  color: blue;
}

.app-add-btn:hover {
  background-color: grey;
  color: white;
}
